<h3>My Blazor Server App!</h3>

<button @onclick="() => SelectedTab = Tab.Books">Books</button>
<button @onclick="() => SelectedTab = Tab.JsCalculator">JsCalculator</button>
<br />

@switch (SelectedTab)
{
  case Tab.Books:
    <BookList></BookList>
    break;
  case Tab.JsCalculator:
    <JsCalculator></JsCalculator>
    break;
}

@code {

  enum Tab
  {
    Books,
    JsCalculator
  }

  Tab SelectedTab { get; set; }
}
